menu "Example Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.
    config ESP_WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 1
        help
            WiFi channel (network channel) for the example to use.

    config ESP_MAX_STA_CONN
        int "Maximal STA connections"
        default 4
        help
            Max number of the STA connects to AP.
            
    config SENSE_PRINT_STI
        bool "print sti value"
        default true
        help
            Whether to print the STI value (proxy of presence/motion) to whichever method is selected for transmitting/storing data.
             
    config SENSE_PRINT_FUSED_HEART
        bool "print fused heart amplitude value"
        default true
        help
            Whether to print the STI value (proxy of presence/motion) to whichever method is selected for transmitting/storing data.           
    config SENSE_PRINT_FUSED_BREATH
        bool "print fused breath amplitude value"
        default true
        help
            Whether to print the STI value (proxy of presence/motion) to whichever method is selected for transmitting/storing data.
           
    config SENSE_PRINT_FILTERED_HEART
        bool "print filtered heart value"
        default true
        help
            Whether to print the STI value (proxy of presence/motion) to whichever method is selected for transmitting/storing data.

    config SENSE_PRINT_FILTERED_BREATH
        bool "print filtered breath value"
        default true
        help
            Whether to print the STI value (proxy of presence/motion) to whichever method is selected for transmitting/storing data.

    config SENSE_PRINT_HEART_FEATURES
        bool "print heart features"
        default true
        help
            Whether to print the STI value (proxy of presence/motion) to whichever method is selected for transmitting/storing data.

    config SENSE_PRINT_BREATHING_FEATURES
        bool "print breathing features"
        default true
        help
            Whether to print the STI value (proxy of presence/motion) to whichever method is selected for transmitting/storing data.

     config SENSE_PRINT_HEART_POI
        bool "print heart poi"
        default true
        help
            Whether to print the STI value (proxy of presence/motion) to whichever method is selected for transmitting/storing data.

    
    config SENSE_PRINT_BREATHING_POI
        bool "print breathing poi"
        default true
        help
            Whether to print the STI value (proxy of presence/motion) to whichever method is selected for transmitting/storing data.

   
endmenu
