menu "CSI Sender Configuration"

    config FRAMES_PER_SECOND
        int "Frames per second"
        default 50
        range 0 1000
        help
            The number of Wi-Fi frames to send per second - this should then correspond to the number of CSI samples received at the receiver.

endmenu
